a {
    cursor: pointer;
}

select {
    border: 0;
    outline: 0;
    border-bottom: 1px solid gray;
    border-radius: 0px;
    width: 100%;
}

.form-select:focus {
    color: #212529;
    border-color: #198754;
    outline: 0;
    box-shadow: none; 
}