<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-auto me-auto">
            <div class="fs-5">{{routeConfig.data.title}}</div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/dashboard']">App</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav>
        </div>
        <div class="col-auto ms-auto">
            <app-user-principal></app-user-principal>
        </div>
    </div>
</div>


