<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/app/dashboard']">
            <i class="fas fa-chalkboard-teacher text-success"></i>
            <span class="ms-3">Mediar Flashcards</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/app/dashboard">Tablero</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/app/test/config']">Tarjetas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" [routerLink]="['/app/admin/users']">Usuarios</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/app/admin/flashcards']">Tarjetas</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/app/admin/topics']">Temas</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/app/admin/books']">Libros</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex me-3">
                <input class="form-control me-2" type="search" placeholder="buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            <button class="btn btn-outline-danger" type="submit" (click)="signOut()"><i class="fas fa-sign-out-alt me-2"></i>Salir</button>
        </div>
    </div>
</nav>